html {
    background-color: #f8f2e8;
    background-image:url("images/BG.jpg");
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: #e9e9e9; 
    border-top: 30px solid #3f94bb;
    border-left: 10px solid #f8f2e800;
    border-right: 10px solid #f8f2e800;
    border-bottom: 30px solid #3f94bb;
    background: #5688c269;
}

header p {
    position: sticky;
}

.intro {
    background-image: no-repeat bottom / cover url('images/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-bottom: 200px;
    
}

.about-me {
    background-image: url("images/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7083a1;
    color:#000000;
    margin-right: 8%;
    margin-left: 8%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000000;
    }

.about-me p {
    font-size: 1.4em;
    text-align: left;
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
    line-height: 2em;
    
}

    
h1 {
    font-size: 4em;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background-color: #3f94bb;
    padding:10px;
    margin-left: 200px;
    margin-right: 200px;
}

.image-text {
    background-color: #fffd99;
    color:#000000;
    text-align:center;
    padding-bottom: 2%;
    margin-left: 35%;
    margin-right: 35%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 4px solid #ffffff;
    box-shadow: 5px 5px 10px #000000;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 10%;
}
    
.about-me h2 {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 100px;
    margin-right: 5px;
    font-size: 1.6em;
}
    
    
header p {
    font-size: 2em;
    padding-bottom: 25px;
    text-align: center;
}
    
    
p {
    line-height: 1.4em;
}

.sec-title {
    text-align: center;
    font-size: 1.2em;
}

.line {
    width: 20% auto;
    height: 2px;
    background-color: #ffffff;
}

    
.projects {
    margin-top: 30px;
    display: flex;
}
    
.Project-1 {
    flex: 1;
    margin: 10px;
    padding: 15px;
    box-shadow: 3px 3px 5px #000000;
    border-radius: 15px;
    background-color: #6e94a0;
}

.Project-1 p {
    text-align: center;
}

h4 {
    text-align: center;
}

.link {
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    background-color: #81a6b8;
    border: 2px solid #ddd
}

.image-1 {
    background-image: url("images/3D.png");
    background-size:auto;
    background-position: middle;
    background-repeat: no-repeat;
    height: 150px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
    transform:translate(12%, 0%);
}