html {
    background-color: #7083a1;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #000000; 
    border-top: 10px solid #559df0;
    background: #87c1d3;
}

.intro {
    background-image: no-repeat bottom / cover url('images/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    margin-right: auto;
    height: 360px;
    border-radius: 10px;
    
}

.about-me {
    background-image: url("images/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7083a1;
    display: flex;
    align-items: center;
    }
    
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #000000; 
    border-top: 10px solid #559df0;
    background: #559df0;
}
    

    
h1 {
    font-size: 3em;
    margin: 0px;
}
    
.self {
    background-image: url("images/writing.png");
    background-size: cover;
    background-position: middle;
    height: 300px;
    width: 300px;
}
    
.about-me h2 {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 200px;
    font-size: 1.3em;
}
    
.about-me p {
    padding-left: 50px;
    padding-bottom: 200px;
}
    
.sub-title {
    font-size: 1.5em;
    padding-bottom: 25px;
}
    
    
p {
    line-height: 1.4em;
}
    
.projects {
    display: flex;
}
    
.Project-1 {
    flex: 1;
    margin: 15px;
    padding: 15px;
    border: 3px solid #ddd;
}

h1 {
    font-size: 3em;
    margin: 0px;
}

.self {
    background-image: url("images/writing.png");
    background-size: cover;
    background-position: middle;
    height: 300px;
    width: 300px;
}

.about-me h2 {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.3em;

}

.about-me p {
    padding-left: 50px;
    padding-bottom: 200px;
}

.sub-title {
    font-size: 1.5em;
    padding-bottom: 25px;
}


p {
    line-height: 1.4em;
}

.projects {
    display: flex;
}

.Project-1 {
    flex: 1;
    margin: 15px;
    padding: 15px;
    border: 3px solid #ddd;
}
